@import 'tailwindcss';

:root {
  --color-danger: #ef4444;
  --color-white: #fff;
  --dashboard-bg: #eff3f8;
}

html,
body {
  height: 100%;
  font-family: Montserrat, sans-serif;
}

.router-link-active,
.router-link-exact-active {
  color: var(--color-danger);
}

.text-red {
  color: var(--color-danger);
}

.active {
  color: var(--color-white) !important;
}
/* admin layout */
.layout {
  background: var(--dashboard-bg);
  display: grid;
  grid-template-columns: 15rem 1fr;
  grid-template-areas:
    'header header'
    'menu content';
  overflow: hidden;
  height: 100vh;
  .aside {
    grid-area: menu;
    background: var(--color-white);
    width: 15rem;
  }
  .header {
    grid-area: header;
    background: var(--color-white);
    box-shadow:
      0px 2px 6px #00000014,
      0px 6px 16px#0000000f,
      0px 24px 64px #00000005;
    position: relative;
    z-index: 1;
  }
  .main {
    grid-area: content;
    height: 100vh;
  }
}

.p-menu-item-icon {
  color: var(--p-blue-500) !important;
}
